data/PH_Electoral.xlsx
data/test.ipynb
electoral/electoral/management/commands/__pycache__/add_data.cpython-39.pyc
electoral/electoral/management/commands/__pycache__/closepoll.cpython-39.pyc
electoral/electoral/management/commands/__pycache__/hello.cpython-39.pyc
electoral/electoral/__pycache__/settings.cpython-39.pyc
electoral/electoral/__pycache__/settings.cpython-39.pyc
electoral/electoral/migrations/0010_remove_flight_destination_remove_flight_origin_and_more.py
electoral/electoral/migrations/__pycache__/0010_remove_flight_destination_remove_flight_origin_and_more.cpython-39.pyc
electoral/electoral/migrations
electoral/electoral/commands/__pycache__
electoral/electoral/__pycache__
electoral/electoral/management/commands/__pycache__/test.cpython-39.pyc
electoral/results/__pycache__
electoral/results/management/commands/__pycache__